.directors {
    display: grid;
    grid-template-rows: auto;
    gap: 50px;
    background-color: rgb(214, 192, 236);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;

    
}
.top{
    display: flex;
    grid-template-rows: auto;
    gap: 5px;
    background-color: rgb(156, 191, 204);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}